#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: lightblue;
}
